//LIGHT THEME

$light-background: #DCE0FE;
$light-lines: #C3C6E4;
$light-txtcolor: #0B0C0D; 
$light-accentcolor: #113285;
$light-cardbackground: #CFD3EB;
$light-cardDescription: #555555;

// DARK THEME
$dark-background: #0D0D17;
$dark-lines: #1B1F32;
$dark-txtcolor: #EEF0F4;
$dark-accentcolor: #6B95FF;
$dark-accentcolor2: #0D1533;


// VARIABLES
